/* styles/reset.css */

.span{
    font-size:30px;cursor:pointer;
}
#header{
    width: auto;
    background-color: #ffffff;
    height: 80px;
    display: none;
    padding: 20px;
}
#divs{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
#divs>div{
  margin-right: 20px;
}
#span{
    border: 1px solid #68040a;
    position: absolute;
    top: 35px;
    right: 40px;
    padding: 7px;
}
#ul{
   background-color: #ffffff;
   text-align: center;padding: 5px;
}



  @media screen and (max-width: 800px) {
    #header {
      display: block;
  }
    .custom-container {
        display: none;
    }
    #div1{
      display: flex;
      flex-direction: column;
    }
    #div1> div{
      margin-right: 20px;
      padding: 30px;
    }
}  
.bg{
  height: 550px;
  position: relative;
  background-color: #0012336c;
}
#div1{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: row;
  color: #052053;
}
#div1> div{
  margin-right:20px;
  padding: 35px;
}
#div2{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: row;
  color: #052053;
}
#div2> div{
  margin-right:10px;
  padding: 35px;
  width: 25%;
  height: 350px;
  font-size: 14.5px;
  border-left:1px solid #001233;
}
#hstyle{
  color: #052053;
}
@media screen and (max-width: 800px) {
  #div1{
    flex-direction: column;
  }
  #div2{
    flex-direction: column;
  }
  #div2> div{
    width: 100%;
    height: auto;
  }
  #divsnd{
    display: none;
  }
}
ul li{
  list-style-type:disc;
  padding-top: 20px;
  color: #001233;
  font-size: 14px;
}

#background{
  background-color: whitesmoke;
  padding: 30px;
}

#cover{
  background-color: #0012334e;
}
#uses{
  background-color: whitesmoke;
}
#video{
  height: 100%;
  width: 100%;
  z-index: -1;
}
#upper{
  position: absolute;
  top: 14%;
  color: white;
  z-index: 1;
  background-color: #151a2169;
  height: 620px;
  width: 97.5%;
  padding-top: 60px;
  padding-left: 60px;
}
#smaller{
  display: none;
}
@media screen and (max-width: 1200px) {
#wider{
  display: none;
}
#smaller{
  display: block;
}
}

#footz{
  background-image: url(/info.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.abouts{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
  color: #052053;
}

.abouts > div{
  width: 60%;
  border:1px solid #001233;
  padding: 30px;
  border-radius: 10px;
}

.abouts2{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: row;
  color: #052053;
  margin: 20px;
}

.abouts2 > div{
  padding: 30px;
  width: 50%;
}
#background2{
  background-color: wheat;
 padding: 30px;
}


@media screen and (max-width: 800px) {
  .abouts > div{
    width: 100%;
    border:1px solid rgb(255, 89, 90);
  }
  .abouts2 {
  flex-direction: column;
  }
  .abouts2 > div{
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  #push{
   margin-top: 50px;
  }}
@media screen and (max-width: 1050px) {
#closes{
  display: none;
}
}
.shadow_custom {
  box-shadow: 0 4px 6px -1px #290f0f88, 0 2px 4px -1px #290f0f88;
}

@media (max-width: 600px) {
  .flex_wrap {
    flex-direction: column;
  }
  .flex_wrap > div {
    width: 100% !important;
    margin-bottom:20px ;
  }
}

.orgLoader{
  min-height: 100vh !important;
  color: white;
}

#hero{
  background-image: url(/Frame.png);
  height: 100%;
  background-size:100%;
  background-repeat: no-repeat;
  margin: -1%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#heroUP{
  text-align: center;
  font-size: 45px;
  font-weight: 900;
  line-height: 80px;
  padding-top: 10%;
}
#features{
  text-align: center;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
#topbtn{
  padding: 12px;
  border: 1px solid #FF595A;
  border-radius: 100px;
  color: #FF595A;
  width: 155px;
 font-weight: 800;
 background-color: #dca8a89b;
}
#fea{
  width: 700px;
  line-height:60px,
}
#fea2{
 width: 800px;
 line-height:36px;
}
#frame{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 11%;
  margin-top: 5%;
}
#frame> div{
  margin: 10px;
}
#frame2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 80px;
}
#frame2> div{
  margin-right: 50px;
}
#frame22{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 80px;
}
#frame22> div{
  margin-right: 50px;
}
#frames{
  width: 450px;
  border-radius: 12px;
}
#images{
  width: 50%;
}
#text{
  width: 40%;
}
@media (max-width: 600px) {
  #heroUP{
    font-size: 20px;
    line-height: 30px;
  }
  #frame2{
    flex-direction: column;

  }
  #frame22{
flex-direction: column-reverse;
  }
  #frame2>div{
    width: auto;

  }
  #frame22 > div{
width: 100%;
  }

}

@media (max-width: 600px) {
  #frame2> div{
    margin-right: 0;
  }
  #frame2{
    margin: 10px;
  }
  #fea{
    width: 100%;
    line-height:100%,
  }
  #fea2{
    width: 100%;
    line-height:100%,
  }
  #heroUP{
    font-size: 30px;
    line-height: 30px;
  }
  #hero{
    margin: 0;
  }


}

#sect{
  height: 500px;
  background-image: url(/Frame161.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: -1%;
  padding: 40px;
}
#aboutImage{
  background-image: url(/Vector64.jpg);
  height: 700px;
  background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;

}

.under{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 15%;
}
.under > div{
  width: 40%;
margin-right: 50px;
}
#second{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-left: 5%;
  margin-top: 10%;
}
#second> div{
  width: 45%;
}
#circle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
}
#circle > div{
  margin-left: 120px;
}
#circle1{
  margin-right: 60px;
}
#circle2{
  margin-right: 250px;
}

#account{
  display: flex;
  flex-direction: row;

}
#account > div{
  width: 50%;
}

/* input file */
.file_input_wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file_input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.custom_file_label {
  background-color: #FF595A;
  color: white;
  cursor: pointer;
}

#avater{
  display: flex;
  flex-direction: row;
  margin-left:20%;
}
#avater > div{
padding: 20px;
font-size: larger;
font-weight: 900;
color: white;
border-radius: 10px;
margin-right: 10px;
}

.input_box {
  display: flex;
  align-items: center;
}
